<!--
  Generated template for the AddBirdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Añadir ave</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="bird.bird_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Descripción: </ion-label>
    <ion-textarea [(ngModel)]="bird.bird_description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>¿Avistada?</ion-label>
    <ion-checkbox [(ngModel)]="sighted" (ionChange)="updateSighted()"></ion-checkbox>
  </ion-item>

  <ion-item *ngIf="sight">
    <ion-label floating>Lugar del avistamiento:</ion-label>
    <ion-input type="text" [(ngModel)]="bird.place"></ion-input>
  </ion-item>


  <button ion-button full (click)="addBird(bird)" class="addBirdBtn" [disabled]="bird.bird_name == '' || bird.bird_description == '' || bird.bird_name == null || bird.bird_description == null ">Añadir ave</button>

</ion-content>
