<ion-header>
  <ion-navbar>
    <ion-title>Lista de pajaros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
  <ion-item *ngFor="let bird of birds">
    <ion-thumbnail item-start>
      <img src={{bird.bird_image}}>
    </ion-thumbnail>
    <h2>{{bird.bird_name}}</h2>
    <p *ngIf="bird.mine === 0" ion-text color="danger">{{bird.bird_sightings}}</p>
    <p *ngIf="bird.mine === 1" ion-text color="green">{{bird.bird_sightings}}</p>
    <button ion-button clear item-end (click)="goToDetail(bird.id)">View</button>
  </ion-item>
</ion-list>
</ion-content>
