<!--
  Generated template for the AddSightPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Añadir avistamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
      <ion-label floating>Lugar del avistamiento:</ion-label>
      <ion-input type="text" [(ngModel)]="place"></ion-input>
    </ion-item>


    <button ion-button full (click)="addSight()" class="addBirdBtn" [disabled]="place == null || disableBtn || place == ''">Añadir avistamiento</button>
</ion-content>
