<ion-header>

  <ion-navbar>
    <ion-title>Bird detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let bird of bird">
        <ion-card-header>
            <strong>{{bird.bird_name}}</strong>
        </ion-card-header>
        <ion-card-content>
            <div margin>
                <img src="{{bird.bird_image}}" />
            </div>
            <div>
                <p>{{bird.bird_description}}</p>
            </div>
            <div text-right>
                <p ion-text color="primary">Avistamientos: {{bird.bird_sightings}}</p>
            </div>
        </ion-card-content>
    </ion-card>
    <div padding>
        <button block ion-button (click)="addBird()">Añadir avistamiento</button>
    </div>

    <ion-list>
    <ion-item *ngFor="let bird of bird">
        <div>
            <p *ngFor="let place of bird.sightings_list">{{place.place}}</p>
        </div>
    </ion-item>
</ion-list>
</ion-content>
