<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Menú principal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button full (click)="birdList()" class="button">Listado de aves</button>
    <button ion-button full (click)="addBird()" class="button">Añadir ave</button>
    <button ion-button full (click)="info()" class="button">Info</button>
    <button ion-button full (click)="logout()" class="button">Desconectar</button>
</ion-content>
